

.row{
  width:50%;
  margin:0 auto;
  height:100vh;
  display:grid;
  align-content: center;
  grid-gap:3.5rem;
  margin-top:2rem;
}

.label{
  display: block;
  font-family: 'Lato';
  font-weight:700;
  color: rgb(110, 110, 110);
}
.title{
  text-align:'center';
  font-size: 2.8rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  word-spacing: .03ch;
}
.email,.message,.name{
  display: block;
  width:100%;
  outline-color: transparent;
  border:1px solid gainsboro;
}
.email,.name,.message{
  transition: all .3s;
}

.email,.name{
  padding:.5rem;
  font-family: 'Lato';
  font-size: 1.1rem;
}
.validInput{
  padding:.5rem;
  font-family: 'Acme', sans-serif;
  font-size: 1.1rem;
  border:1px solid #a6cb12;
}
.invalidInput{
  padding:.5rem;
  font-family: 'Lato';
  font-size: 1.1rem;
  border:1px solid red;
}
.message{
  height:15rem;
  font-family: 'Lato';
  border:1px solid gainsboro;
  padding:.5rem;
  font-size: 1.1rem;
}
.validMessage{
  height:15rem;
  font-family: 'Lato';
  border:1px solid #a6cb12;
  padding:.5rem;
  font-size: 1.1rem;
  width:100%;
}
.invalidMessage{
  height:15rem;
  font-family: 'Lato';
  border:1px solid red;
  padding:.5rem;
  font-size: 1.1rem;
  width:100%;
}
.contactContainer{
  display:grid;
  align-content: center;
  grid-template-areas:
    "name email"
    "message message"
    "button button";
    grid-gap: 1rem;
}
.submitBtn{
  grid-area:button;
  padding:.5rem;
  border-radius: 18px;
  font-size: 1.1rem;
  border:1px solid transparent;
  background:#421b9b;
  color:white;
  cursor: pointer;
  transition: all .1s;
  margin-top:1.5rem;
}
.submitBtn:hover{
  background: #494ca2;
  border:1px solid #494ca2;
  color:ghostwhite;
}
.nameField{
  display: grid;
  grid-gap:.5rem;
  grid-area: name;
}
.emailField{
  display: grid;
  grid-gap:.5rem;
  grid-area: email;
}
.messageField{
  display: grid;
  grid-gap:.5rem;
  grid-area: message;
}

@media only screen and (max-width: 1090px) {
  .row{
    width:65%;
  }
}
@media only screen and (max-width: 900px) {
  .row{
    width:75%;
  }
  .title{
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 785px) {
  .row{
    width:90%;
  }
  .label{
    font-size: 1rem;
  }
  .title{
    font-size:2.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .contactContainer{
    grid-template-areas:
     "name name"
     "email email"
     "message message"
     "button button";
     grid-gap: 1.5rem;
  }
  .row{
    margin-top:5rem;
    height:110vh;
  }
  .title{
    font-size: 2rem;
  }
  .label{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 430px) {
  .title{
    font-size: 1.7rem;
  }
}